a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

body {
  background-color: rgb(250, 250, 250);
}

/* === Header === */

.icon-flex {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

/* ============== */


.video {
  height: auto;
  max-width: 100%;
  border: 2px solid rgb(235, 235, 235);
  box-shadow: 3px 1px 1px rgb(205, 205, 205);
  transition: 0.2s all;
}

.video:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile-pic-container {
  align-self: center;
  margin-top: 3em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.info-container {
  margin-right: 2em;
}

@media screen and (min-width: 768px) {
  .info-container {
    margin-right: 4em;
  }
}

.row-header {
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 800px;
}

.profile-pic {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 3px 1px 1px rgb(200, 200, 200);
  max-width: 100px;
};

.route-container {
  margin-top: 60px;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.work-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 1px 1px rgb(235, 235, 235);
}

.active {
  border-bottom: 3px solid green;
}

.icon {
  color: rgb(155, 155, 155);
  transition: 0.2s all;
}

.icon:hover {
  color: #93C54B;
  cursor: pointer;
}

.root {
  font-family: helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px
};

.title {
  font-size: 20px;
  margin-bottom: 0.5vh;
};

.repo-link {
  font-size: 14px;
};


