.video {
  height: auto;
  max-width: 100%;
  border: 2px solid rgb(235, 235, 235);
  box-shadow: 3px 1px 1px rgb(205, 205, 205);
  transition: 0.2s all;
}

html {
  overflow-y: scroll;
}

.video:hover {
  opacity: 0.8;
  cursor: pointer;
}

.route-container {
  margin-top: 60px;
}


.work-row {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(235, 235, 235);
}

li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  margin-top: 20px;
}

.active {
  border-bottom: 3px solid green;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.icon {
  color: rgb(155, 155, 155);
  transition: 0.2s all;
}

.icon:hover {
  color: #93C54B;
  cursor: pointer;
}