a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.video {
  height: auto;
  max-width: 100%;
  border: 2px solid rgb(235, 235, 235);
  box-shadow: 3px 1px 1px rgb(205, 205, 205);
  transition: 0.2s all;
}

.video:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile-pic {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 3px 1px 1px rgb(200, 200, 200);
  max-width: 100px;
  margin-bottom: 25px;
};

.route-container {
  margin-top: 60px;
}

.work-container {
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-row {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  background-color: rgb(235, 235, 235);
}

.active {
  border-bottom: 3px solid green;
}

.icon {
  color: rgb(155, 155, 155);
  transition: 0.2s all;
}

.icon:hover {
  color: #93C54B;
  cursor: pointer;
}

.root {
  font-family: helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px
};

.title {
  font-size: 20px;
  margin-bottom: 0.5vh;
};

.repo-link {
  font-size: 14px;
};


